/* Phones up to 600px width */
html {
    background-color: #5A189A;
}
/* Tablet */
@media (min-width: 600px) {
    html {
        background-color: #5A189A;
    }
}
  /* Desktop and laptop */
@media (min-width: 992px) {
    html {
        background-color: #5A189A;
    }
}